@charset "UTF-8";


#wrap{background: url(../images/IOC_NFT_BG-noembers_00283.jpg) no-repeat center 0 / 100vw 100vh; background-attachment: fixed;}

#header{width: 100%; position: relative; z-index: 300;}
.headerIn{width: 1200px; padding: 0 20px; position: relative; margin: 0 auto;}

.logo{width: 400px; position: absolute; top: 40px;}
.logo a{display: block;}

#container{width: 100%; background: url(../images/IOC_NFT_BG_1920px.jpg) no-repeat center 0 / 100vw auto; background-attachment: fixed;}

.gnb{position: fixed; top: 150px; left: 0;}

.gnb ul{display: flex; flex-direction: column; gap: 30px;}
.gnb li{}
.gnb li a{display: inline-block; background: #000; font-size: 18px; padding: 10px 20px; color: #fff; font-family: 'Lato', sans-serif; font-weight: 700;}


.container_bg{width: 100%;}
.cont1{width: 100%;  height: 1920px;}

.cont1_inner{width: 100%; background: url(../images/IOC_NFT_22b_1920px.png) no-repeat center -160px / 1920px auto; height: 100%;}

.px1200{width: 1200px; margin: 0 auto; padding: 0 20px; position: relative;}

.px1200 h2{font-size: 30px; color: #fff; font-family: 'Lato', sans-serif; font-weight: 700; text-align: center; line-height: 1.2; background: #000; position: absolute; top: 170px; right: 116px; padding: 8px 20px;}

/* cont2 cont3 */
.cont2{width: 100%; /* background: url(../images/IOC_NFT_BG-noembers_00283.jpg) no-repeat center 0 / 1920px auto; */ height: 1920px}
.cont3{width: 100%; /* background: url(../images/IOC_NFT_BG-noembers_00283.jpg) no-repeat center 0 / 1920px 1000px; */ height: auto; background-attachment: fixed;}

.cont2 h2, .cont3 h2{padding-top: 90px; font-size: 18px; color: #fff; text-align: center; margin-bottom: 30px;}

.cont2 .text_wrap{width: 880px; margin: 0 auto 150px; text-align: justify; word-break: break-word; hyphens: auto;}

.cont2 .text_wrap p{margin-bottom: 30px; color: #fff; font-size: 18px; line-height: 1.2;}
.cont2 .text_wrap p:last-child{margin-bottom: 0;}

.roadmap_wrap{margin-bottom: 40px;}
.roadmap_wrap h2{padding-top: 60px;}
.frame_wrap{width: 900px; margin: 0 auto;}
.road_text{width: 880px; color: #fff; font-size: 18px; margin: 0 auto; line-height: 1.3; text-align: justify; word-break: break-word; hyphens: auto;}

.road_text > span{display: block;}

.info_wrap{width: 1160px; margin: 0 auto; position: relative;}
.info_wrap::after{content: ""; display: block; width: 100%; height: 3px; background-color: #fff; position: absolute; top: 13px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);}
.info_wrap ul{display: flex; justify-content: space-between; position: relative; z-index: 2;}
.info_wrap li{width: 25%; display: flex; flex-direction: column; gap: 30px; align-items: center;}
.info_wrap li .circle{width: 28px; height: 28px; background: url(../images/circle.png) no-repeat center center / contain;}

.info_wrap li .info{color: #fff; font-size: 18px; font-family: 'Lato', sans-serif; font-weight: 600;}


.cont3 .cont3_inner{/* background: url(../images/IOC_NFT_22_GLITCHES_patterntrans256.gif) no-repeat 0 0 / 1920px auto; */}

.cont3 .cont3_inner h2{padding-top: 184px;}

.cont3 .text_wrap, .cont3 .second_text{width: 880px; margin: 0 auto 140px; position: relative;}
.cont3 .text_wrap p, .cont3 .second_text p{margin-bottom: 100px; color: #fff; font-size: 18px; line-height: 1.4; text-align: justify;}

.cont3 .second_text{padding-top: 24px;}
.cont3 .mint_btn, .form_wrap .send_btn{padding: 16px 30px; color: #fff; text-align: center; font-size: 18px; background: #000; margin: 0 auto; display: block; width: 208px;}

.ukra_btn{color: #fff; text-decoration: underline;}

.contact_wrap{padding-top: 100px; margin-bottom: 100px;}
.contact_wrap .title{color: #fff; text-align: center; font-size: 18px; font-family: 'Lato', sans-serif; font-weight: bold; margin-bottom: 20px;}

.form_wrap{width: 570px; margin: 0 auto;}

.form_wrap form > div{margin-bottom: 12px;}

.form_wrap label{color: #fff; font-size: 18px; font-family: 'Lato', sans-serif; font-weight: bold; margin-bottom: 10px; display: block;}

.form_wrap input{width: 100%; display: block; background: #000; height: 64px; color: #fff; padding: 0 20px; font-size: 18px; box-sizing: border-box;}

.form_wrap textarea{width: 100%; height: 210px; resize: none; background: #000; color: #fff; padding: 20px; font-size: 18px; box-sizing: border-box;}


/* footer영역 */
#footer{width: 100%;}

.footerIn{width: 1200px; margin: 0 auto; height: 160px;}

.footerIn ul{width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center;}
.footerIn li{width: 120px;}

.footerIn li{background-color: #000; padding: 14px 16px; box-sizing: content-box;}

.footerIn li:nth-of-type(6){background-color: transparent;}



/* 1200px 이하 */
@media screen and (max-width: 1199px) {

#wrap{background: url(../images/IOC_NFT_BG-noembers_1920px.jpg) no-repeat center 0 / auto 100vmax; background-attachment: fixed;}

.headerIn{width: 100%; padding: 0 20px;}

.logo{width: 33.33333vw; top: 3.33333vw;}

.gnb{display: none;}

#container{width: 100%; background: url(../images/IOC_NFT_22_GLITCHES_patterntrans256.gif) no-repeat center 0 / auto 100vmax; background-attachment: fixed;}


.cont1{height: 100vw;}

.cont1_inner{width: 100%; background: url(../images/IOC_NFT_22b_1920px.png) no-repeat center -4.33333vw / 100vw auto; height: 100%;}

.px1200{width: 100%; padding: 0 20px;}

.px1200 h2{font-size: 2.5vw; top: 14.166666vw; right: 9.666667vw; padding: 8px 1.66666vw;}

/* cont2 cont3 */
.cont2, .cont3{width: 100%; background: url(../images/IOC_NFT_BG-noembers_00283.jpg) no-repeat center 0 / cover; padding-bottom: 14vw; height: auto;}

.cont2 h2, .cont3 h2{padding-top: 7.5vw; font-size: 16px; margin-bottom: 2.5vw;}

.cont2 .text_wrap, .cont3 .second_text{width: 77.291666vw; margin: 0 auto 12.5vw;}

.cont2 .text_wrap p, .cont3 .second_text p{margin-bottom: 2.5vw; color: #fff; font-size: 16px;}

.roadmap_wrap{margin-bottom: 6.333333vw;}
.roadmap_wrap h2{padding-top: 5vw;}
.frame_wrap{width: 75vw;}
.road_text{width: 73.33333vw; font-size: 16px;}

.info_wrap{width: 96.666666vw;}
.info_wrap::after{top: 1.08333vw;}

.info_wrap li{gap: 2.5vw;}
.info_wrap li .circle{width: 2.33333vw; height: 2.33333vw; background: url(../images/circle.png) no-repeat center center / contain;}


.cont3 .cont3_inner{background: url(../images/IOC_NFT_22_GLITCHES_patterntrans256.gif) no-repeat 0 0 / 100vmax auto; padding-bottom: 0;}

.cont3 .cont3_inner h2{padding-top: 15.33333vw;}

.cont3 .text_wrap, .cont3 .second_text{width: 73.3333vw; margin: 0 auto 13.33333vw;}
.cont3 .text_wrap p, .cont3 .second_text p{margin-bottom: 4.16666vw; font-size: 16px;}

.cont3 .mint_btn, .form_wrap .send_btn{padding: 1.333333vw 2.5vw; font-size: 16px;}

.contact_wrap{}
.contact_wrap .title{font-size: 16px; margin-bottom: 1.66666vw;}

.form_wrap{width: 47.5vw;}

.form_wrap form > div{margin-bottom: 1vw;}

.form_wrap label{font-size: 16px; margin-bottom: 10px;}

.form_wrap input{height: 5.33333vw; padding: 0 1.66666vw; font-size: 16px;}

.form_wrap textarea{height: 17.5vw; padding: 1.66666vw; font-size: 16px;}


/* footer영역 */
#footer{width: 100%;}

.footerIn{width: 100%; margin: 0 auto; height: 160px; padding: 20px;}

.footerIn ul{width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px;}
.footerIn li{width: 120px;}

.footerIn li{padding: 14px 16px; box-sizing: content-box;}






  
}

@media screen and (max-width: 767px) {

#wrap{background: url(../images/IOC_NFT_BG-noembers_1920px.jpg) no-repeat center 0 / 100vh auto; background-attachment: fixed;}

.headerIn{width: 100%; padding: 0 20px;}

.logo{width: 33.59375vw; top: 6.51041vw;}

.gnb{display: none;}

#container{width: 100%; background: url(../images/IOC_NFT_22_GLITCHES_patterntrans256.gif) no-repeat center -600px / 1920px auto; background-attachment: fixed;}


.cont1{padding-bottom: 30vw; box-sizing: content-box; height: 100vmax;}

.cont1_inner{width: 100%; background: url(../images/IOC_NFT_22b_1920px.png) no-repeat center -15.33333vw / 100vh auto; height: 100vh;}

.px1200{width: 100%; padding: 0 20px;}

.px1200 h2{font-size: 3vw; top: 11.166666vw; right: 2.666667vw; padding: 8px 1.66666vw;}

/* cont2 cont3 */
.cont2, .cont3{width: 100%; background: url(../images/IOC_NFT_BG-noembers_00283.jpg) no-repeat center 0 / cover; padding-bottom: 14vw; height: auto; padding-left: 3vw; padding-right: 3vw;}

.cont2 h2, .cont3 h2{padding-top: 7.5vw; font-size: 14px; margin-bottom: 2.5vw;}

.cont2 .text_wrap, .cont3 .second_text{width: 85vw; margin: 0 auto 12.5vw;}

.cont2 .text_wrap p, .cont3 .second_text p{margin-bottom: 2.5vw; color: #fff; font-size: 14px; text-align: justify; word-break: break-word; hyphens: auto;}

.roadmap_wrap{margin-bottom: 6.333333vw;}
.roadmap_wrap h2{padding-top: 5vw;}
.frame_wrap{width: 75vw;}
.road_text{width: 85vw; font-size: 14px;}

.info_wrap{width: 86.666666vw;}
.info_wrap::after{top: 1vw; height: 2px;}

.info_wrap li{gap: 2.5vw;}
.info_wrap li .circle{width: 2.33333vw; height: 2.33333vw; background: url(../images/circle.png) no-repeat center center / contain;}
.info_wrap li .info{font-size: 2.604166vw;}


.cont3 .cont3_inner{background: url(../images/IOC_NFT_22_GLITCHES_patterntrans256.gif) no-repeat 0 0 / auto 100vmax; padding-bottom: 0;}

.cont3 .cont3_inner h2{padding-top: 15.33333vw;}

.cont3 .text_wrap{width: 85vw; margin: 0 auto 13.33333vw; word-break: break-word; hyphens: auto;}
.cont3 .text_wrap p{margin-bottom: 4.16666vw; font-size: 14px; }

.cont3 .mint_btn, .form_wrap .send_btn{padding: 1.333333vw 2.5vw; font-size: 14px;}

.contact_wrap{}
.contact_wrap .title{font-size: 14px; margin-bottom: 1.66666vw;}

.form_wrap{width: 70vw;}

.form_wrap form > div{margin-bottom: 1vw;}

.form_wrap label{font-size: 14px; margin-bottom: 1vw;}

.form_wrap input{height: 7.33333vw; padding: 0 1.66666vw; font-size: 14px;}

.form_wrap textarea{height: 40.5vw; padding: 1.66666vw; font-size: 14px;}

/* footer영역 */
#footer{width: 100%;}

.footerIn{width: 100%; margin: 0 auto; height: auto; padding: 2.604166vw;}

.footerIn ul{width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px;}
.footerIn li{width: 15.62vw;}

.footerIn li{padding: 1.822916vw 2.08333vw; box-sizing: content-box;}






}






/* ================= */
#container{position: relative;}
.sample1, .sample2{display: block; width: 40px; height: 40px; position: absolute; background: #ff0;}

.sample1{top: 10px; right: 5%;}
.sample2{top: 60px; right: 5%;}

/* ========================== */